{% extends 'base.html.twig' %}

{% block title %}Page d'accueil!
{% endblock %}
{% block body %}
	<div class="container">
		<div class="jumbotron">
			<h1 class="display-3">Bienvenue !</h1>
			<p class="lead">Nous mettons en relations les voyageurs et les propriétaires qui veulent profiter d'opportunités et gagner de l'argent en proposant leur bien à la location !</p>
			<hr class="my-4">
			<p>Vous êtes voyageur ? Et vous voulez voir où vous pourrez loger pour votre prochain déplacement ?</p>
			<p class="lead">
				<a class="btn btn-primary btn-lg" href="{{ path("ad_index") }}" role="button">Voir nos annonces</a>
			</p>
		</div>
		<h2>Nos appartement stars</h2>
		<div class="row">
			{% for data in ads %}
				{% include 'front_office/ad/_ad.html.twig' with {'ad': data.annonce} %}
			{% endfor %}
		</div>
		<h2 class="h1 my-5">Nos propriétaires stars !</h2>
    
		<div class="row">
			{% for data in users %}
				{% set user = data.user %}
				<div class="col">
					<div class="card border-secondary mb-3">
						<div class="card-body">
							<h4 class="card-title">{{user.fullName}}</h4>

							<hr>

							<div class="card-text">
								{% if user.avatar %}
                                	<img src="{{ asset("uploads/avatar/" ~  user.avatar) }}" alt="Avatar de {{ user.fullName}}" class="avatar avatar-medium float-left mr-3">
								{% else %}
									<img src="{{ asset("uploads/img/avatar.png") }}" alt="Avatar de {{ user.fullName}}" class="avatar avatar-medium float-left mr-3">
								{% endif %}
								<p>{{user.introduction}}</p>
								<a href="{{ path('user_show', {'slug': user.slug})}}" class="btn btn-success float-right">En savoir plus!</a>
							</div>
						</div>
					</div>
				</div>
			{% endfor %}
		</div>

	</div>
{% endblock %}
